 <!DOCTYPE html>
 <html ng-app="myApp">
 <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="SwaasthApp.css">
    <meta name="viewport" content="initial-scale=1" />
  </head>
<body ng-controller="DemoCtrl" >
<div style="background:;margin:40px;border:0px solid black">

<div layout="row" >
  <div flex="30" style="background:"><img src="swaasthlogo.png" style="width:200px;height:80px" /></div>
  <div flex style="background:">
    <br>
            <ul>
              <li><a href="#">FEEDBACK</a></li>
              <li><a href="#" style="width:100px">ABOUT</a></li>
              <li><a href="#">LOGIN</a></li>
            </ul></div>
</div>

<div layout="column" layout-align="start center" style="margin:30px 0px 30px 0px">
  <div>
  <p style="font-size:30px;font-weight: bold;word-spacing: 5px;text-align:center">BE   IN CHARGE WITH YOUR HEALTH</p>
  <p style="font-size:20px;font-weight: lighter;margin-top:-15px;text-align:center">WITH INDIA'S BIGGEST SELF HELP MEDICAL APP</p>
  </div>
  <div>
   <form class="form-inline" role="form" style="margin-top:60px;" >
          <div class="form-group" >
           <input type="text" class="form-control" style="width:;height:; border-radius:initial">
           <md-button style="background:green;width:;height:;margin-left:-5px; border-radius:initial">SEARCH</md-button>
          </div>  
         </form>
  </div>
  <div>
         <p style="margin-top:60px;"><b>If its an emergency you should contact emergency services right now.</b></p>
  </div>
  <div>
  <md-button class="md-warn md-raised md-hue-2" style="width:300px;height:50px">EMERGENCY CONTACTS</md-button>
  </div>
  
</div>

        

<div layout="row" layout-align="space-between start"  style="margin-top:50px;background:">
  <div flex="45" style="background:"> 
     <img src="Symptom1.png" style="width:100%;height:100%;margin:0px;border-radius:10px 10px 0px 0px;border: "  />
     <md-button style="width:100%;height:50px;margin:0px;background:red;border-radius:0px 0px 10px 10px">Check Now</md-button>
     </div>
  <div flex="45" style="background:">  
     <img src="Doctors1.png" style="width:100%;height:100%;border-radius:10px 10px 0px 0px;border:1px solid gray" />
     <md-button style="width:100%;height:50px;margin:0px;background:green;border-radius:0px 0px 10px 10px">Check Now</md-button>   
  </div>
</div>


</div>
<div style="background:"><img src="banner.png" style="width:100%;height:100%" />
</div>



 <div layout="row" layout-align="center center" style="margin:20px">
      <div>
          <img src="swaasthlogo.png" style="width:150px;height:50px;margin-right:20px" />    
      </div>
      <div style="border-left: 2px solid black;height:50px;margin-right:20px"></div>
      <div><b style="font-size:50px;font-weight:lighter;padding:">BL<span style="color:green">O</span>GS</b> </div>
 </div>










{{34}} <br>
 <md-button md-no-ink class="md-primary">Primary (md-noink)</md-button>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
  <script src="SwaasthApp.js"></script>

</body>
</html>