 <!DOCTYPE html>
 <html ng-app="myApp">
 <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="SwaasthApp.css">
    <meta name="viewport" content="initial-scale=1" />
  </head>
<body ng-controller="DemoCtrl" >

<!-- Start Computer View-->
<div class="swaasthFont" hide-sm>
<div style="background:;margin:40px;border:0px solid black" >
 


<div class="homeA" layout="row" style="background:;margin:0px -40px 0px -40px" sticky>
  <div class="homeB" flex="30" style="margin-left:40px">
    <img src="swaasthlogo.png"/>
  </div>
  <div class="ULlink" flex style="background:;margin-right:40px">
    <br>
            <ul>
              <li><a href="#">FEEDBACK</a></li>
              <li><a href="#" style="width:100px">ABOUT</a></li>
              <li><a href="#">LOGIN</a></li>
            </ul>
  </div>
</div>

<div class="Heart" layout="column" layout-align="center center" style="margin:30px 0px 30px 0px">
  <div>
  <p style="font-size:30px;font-weight:bold;word-spacing: 5px;text-align:center">BE   IN <span style="color:green">CHARGE</span> WITH YOUR HEALTH</p>
  <p style="font-size:20px;font-weight:;margin-top:-15px;text-align:center">WITH INDIA'S BIGGEST SELF HELP MEDICAL APP</p>
  </div>
  <div style="margin:50px 0px 50px 0px;padding:0px;width:50%">
       <form novalidate layout="row">
        <input flex="80" type="text" style="height:40px;margin:0px; font-size:20px">
        <md-button flex="20" ng-click="#" style="height:40px;margin:0px;background:green;float:right;border-radius:0px 5px 5px 0px;color:white">SEARCH</md-button>
      </form>
  </div>
  <div>
         <p style="margin-top:60px;font-weight:lighter"><b>If its an emergency you should contact emergency services right now.</b></p>
  </div>
  <div>
  <md-button class="md-warn md-raised md-hue-2" style="width:300px;height:50px">EMERGENCY CONTACTS</md-button>
  </div>
  
</div>

        

<div layout="row" layout-align="space-between start"  style="margin-top:50px;background:">
  <div flex="45"  style="background:"> 
     <img src="Symptom1.png" style="width:100%;height:100%;margin:0px;border-radius:10px 10px 0px 0px;border: "  />
     <md-button style="width:100%;height:50px;margin:0px;background:red;border-radius:0px 0px 10px 10px;color:white;font-size:">Check Now</md-button>
  </div>
  <div flex="45" style="background:">  
     <img src="Doctors1.png" style="width:100%;height:100%;border-radius:10px 10px 0px 0px;border:1px solid gray" />
     <md-button style="width:100%;height:50px;margin:0px;background:green;border-radius:0px 0px 10px 10px;color:white">Check Now</md-button>   
  </div>
</div>

</div>


<div layout="column" class="Banner" style="color:white;text-align:center">
  <div style="background:"><h1 >HOW IT WORKS</h1></div>
  <div layout="row" layout-align="space-around start" style="margin:0px 0px 10px 0px">
     <div style="background:white;border-radius:50%;width:100px;height:100px"></div>
     <div style="background:white;border-radius:50%;width:100px;height:100px"></div>
     <div style="background:white;border-radius:50%;width:100px;height:100px"></div>
     <div style="background:white;border-radius:50%;width:100px;height:100px"></div>
  </div>
  <div layout="row" style="margin:5px 0px 10px 0px;font">
     <div flex>Check all your health<br> related possibilities</div>
     <div flex>Find best doctor in<br> your area</div> 
     <div flex>Book an <br> appointment</div>
     <div flex>Eat healthy <br> stay healthy</div>
  </div>
</div>



 <div layout="row" layout-align="center center" style="margin:20px">
      <div>
          <img src="swaasthlogo.png" style="width:150px;height:50px" />    
      </div>
      <div style="border-left: 2px solid black;height:50px;margin:0px 20px 0px 20px"></div>
      <div><b style="font-size:50px;font-weight:lighter;padding:">BL<span style="color:green">O</span>GS</b> </div>
 </div>

</div>



<!-- End COmputer ciew-->




<!-- Start Mobile View-->
<div class="swaasthFont" hide-gt-sm style="margin-top:15px">

<div class="homeMA" layout="row"  sticky>
<div flex="30">
  <section layout="row" flex>
   
          <md-button ng-click="toggleRight()" class="md-primary" style="width:20px;height:30px;margin:10px 0px 0px -10px;padding:0px">
            <i class="fa fa-bars" style="font-size:25px;color:black"></i>
          </md-button>
        
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="right" style="height:300px;width:">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">MySwaasth</h1>
      </md-toolbar>
      <md-content ng-controller="RightCtrl" layout-padding>
       <br>
              <a href="#">FEEDBACK</a><br><br>
              <a href="#" style="width:100px">ABOUT</a><br><br>
              <a href="#">LOGIN</a><br><br>
        
            
        <md-button ng-click="close()" class="md-primary" style="background:blue;color:white">
          Close 
        </md-button>
      </md-content>
    </md-sidenav>
  </section>
</div>
 <div class="homeMB" flex="70"><img src="swaasthlogo.png" style="width:150px;height:60px;margin:0px 0px 0px 0px" />
 </div>
 </div>



<div class="swaasthCL" style="background:;margin:5px 5px 5px 5px ;border:0px solid black" >


<div class="HeartMobile" layout="column" layout-align="center center" style="margin:20px 0px 30px 0px">
 
  <div>
  <p style="font-size:15px;font-weight:bold;word-spacing: 1px;text-align:center;margin:30px 0px 0px 0px">BE   IN <span style="color:green">CHARGE</span> WITH YOUR HEALTH</p>
  <p style="font-size:10px;font-weight:;margin-top:;text-align:center">WITH INDIA'S BIGGEST SELF HELP MEDICAL APP</p>
  </div>
  <div style="margin:30px 0px 10px 0px;padding:0px;width:80%">
       <form novalidate layout="row" layout-align="center center">
        <input flex="80" type="text" style="height:40px;margin:0px; font-size:20px">
        <md-button flex="20" ng-click="#" style="height:40px;margin:0px;background:green;float:right;border-radius:0px 5px 5px 0px;color:white">SEARCH</md-button>
      </form>
  </div>
  <div>
         <b style="font-size:11px;font-weight:lighter">If its an emergency you should contact emergency services right now.</b>
  </div>
  <div>
  <md-button class="md-warn md-raised md-hue-2" style="width:180px;height:30px">EMERGENCY CONTACTS</md-button>
  </div>


  <div  style="background:;margin:30px 30px 0px 30px"> 
     <img src="Symptom1.png" style="width:100%;height:100%;margin:0px;border-radius:10px 10px 0px 0px;border: "  />
     <md-button style="width:100%;height:50px;margin:0px;background:red;border-radius:0px 0px 10px 10px;color:white">Check Now</md-button>
  </div>
  <div style="background:;margin:30px 30px 0px 30px">  
     <img src="Doctors1.png" style="width:100%;height:100%;border-radius:10px 10px 0px 0px;border:1px solid gray" />
     <md-button style="width:100%;height:50px;margin:0px;background:green;border-radius:0px 0px 10px 10px;color:white">Check Now</md-button>   
  </div>
</div>

<div layout="row" layout-align="center center" style="margin:20px">
      <div>
          <img src="swaasthlogo.png" style="width:100px;height:30px" />    
      </div>
      <div style="border-left: 2px solid black;height:40px;margin:0px 10px 0px 10px"></div>
      <div><b style="font-size:30px;font-weight:lighter;padding:">BL<span style="color:green">O</span>GS</b> </div>
 </div>

</div>
</div>
<!-- End Mobile View-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
     
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="sticky.js"></script>
	<script src="SwaasthApp.js"></script>

<script>
$(document).ready(function(){
  $(window).bind("scroll", function () {
      var sc = $(window).scrollTop();
      if (sc > 10) {
          $(".homeA").addClass('small')
           $(".homeMA").addClass('smallM')
         
      } else {
           $(".homeA").removeClass('small')
         
      }
  });
});
</script>
</body>
</html>

