@font-face {
    font-family: swaasth_font;
    src: url(open-sans/OpenSans-Regular.ttf);
}



.swaasthFont{

    font-family: 'swaasth_font';
   /* font-size: 23px;*/
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /*line-height: 23px;*/
}



.ULlink ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.ULlink li {
    float: right;
}

.ULlink a:link, .ULlink a:visited {
   /* display: block;*/
    width: 120px;
    font-weight: bold;
    color:#333333;
   /* background-color: #98bf21;*/
    text-align: right;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
}

.ULlink a:hover, .ULlink a:active {
   /* background-color: #7A991A;*/
}

.Heart{
    background-image:url('dil_01.png');
    background-repeat:no-repeat;
    background-position:0px 8px;
    background-size: 455px 360px;

}

.HeartMobile{
 background-image:url('dil_01.png');
    background-repeat:no-repeat;
    background-position:-10px 40px;
    background-size: 280px 250px;
}

.Banner{
    height:;
    background-image:url('banner_bg.jpg');
    background-repeat:no-repeat;
 
    background-size: 100% 100% ;
}

.small, .smallM{
background: white;

}


.homeB img{
     width:202px;
     height:67px;
}

.small .homeB img{
    height: 50px !important;
    width: 150px !important;
}

